body {
    background-color: #000;
    /* Set the background color black */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #fff;
}

#navbar-left {
    float: left;
}

#navbar-right {
    overflow: hidden;
    background-color: #000;
}

/* Style the links inside the navigation bar */
#navbar-right a {
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 25px;
}

#navbar-right .icon {
    display: none;
}

/*background color on hover */
#navbar-right a:hover {
    background-color: rgba(255, 0, 0, 0.5);
    /* New background color on hover */
    transition: 0.6s;
}

@media screen and (max-width: 940px) {

    #navbar-left,
    #navbar-right {
        float: none;
        width: 100%;
        text-align: center;
    }

    #navbar-left a {
        display: block;
    }

    #navbar-right a {
        float: none;
        display: block;
        margin: 10px 10px;
    }
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    margin-top: 50px;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    display: block;
    /* Display block instead of inline */
    transition: 0.6s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f01e2c;
    transition: 0.6s;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.animated-text-container{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #ff4d58;
    margin-top: 50px;
}

.animated-text-container:hover{
    background-color: black;
}

.animated-text{
    display: inline-block;
    padding-left: 100%;
    animation: zone 20s linear infinite;
    font-size: 20px;
    color: white;
}

.animated-text:hover{
    color: #ff4d58;
}

@keyframes zone{
    0%{transform: translateX(100%);}
    100%{transform: translateX(-100%);}
}

#footer{
    background-color: #f01e2c;
    height: 100px;
    color: white;
    text-align: center;
    font-size: 15px;
}

.social-icons{
    padding-top: 20px;
}

.social-icons a{
    display: inline-block;
    margin: 0 15px; /* Adjust the spacing between icons */
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.social-icons a:hover {
    color: #fff;
    transition: 0.6s;
}

#navbar-right .active{
    color: #f01e2c;
}

/* Center-align the content */
.row {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
   
/* Style for each column */
.column {
    padding: 30px;
    margin: 5px;
    width: 30%;
}
   
/* Style for the class card */
.class-card {
    border: 3px solid red; /* Red outline for the class card */
    padding: 10px;
}
   
/* Style for the images */
.class-card img {
    max-width: 100%; /* Ensure the image takes the full width of the column */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Remove extra spacing below the image */
    margin: 0 auto; /* Center-align the image within the class card */
}
   
/* Style for the headings (h2 as buttons) */
.class-card h2 {
    margin: auto;
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
}
   
/* Add hover effect for the buttons */
.class-card h2:hover {
    background-color: red; /* Change background color on hover */
    color: white; /* Change text color on hover */
    transition: 0.6s;
    border-radius: 5px;
}

@media screen and (max-width: 940px){
    .class-card a{
        font-size: 13px;
        text-align: center;
    }
}